body{
    background-color:#ededed;
}
.container {
    display:flex;
    justify-content:center;
}

.item {
    flex-grow: 1;
    height: 100px;
    padding:10px;
    font-size: 20px;

}

.item + .item {
    margin:2%;
}

.form_fields{
    display: none;
}

.hidden_content {
    visibility: hidden;
}

.teacher_config {
    /* Time for lession */
}

.lession_config {
    /* Stream, camera, chat etc, */ 
}